
#wrapper{
    margin-bottom: 10%;
}
#content img{
    display: block;
    height: 340px;
    min-width: 200px;
   
}

#hotelDetail{
    display: flex;
    margin: 6% 2% 2% 2% ;
    max-height: 400px;
    justify-content: space-between;
    border: 1px solid black;
  }

  
  #imageSlider{
    
    display: flex;
    height: 360px;
    width: 800px;
    border-right: 1px solid black ;
    
  }

  #imageSlider .carousel-item {
    display: block;
    padding: 1%;
  }
  
  #form{
    display: flex;  
    width: 60%;
    padding: 0% 2%;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: space-around;
    
  }
  
  .inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .inputs > input{
    width: 60%;
  }
  #submitButton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  #submitButton input{
    padding: 2%;
  }
  
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    color: black;
    
  }
  
  
    
  .info {
    margin-left: 3% ;
    margin-top: -5%;
  }
  #rating{
      color: orange;
  }
  @media only screen and (min-width:576px) and ( max-width: 1000px) {
    .hotelDetail{
      display: flex;
      flex-direction: column;
      place-items: center;
      height: 500px;
    
      
      
    }
    #content img{
      
      min-width: 50%;
      max-width: 500px;
      margin: auto;
      margin-top: -100px;
  }

    #imageSlider .carousel-item >img {
      display: block;
      margin-top: 20%;
      height: 250px;
      width: 400px;
    }
    
    #form{
      display: flex;
      height: 100%;
      width: 40%;
      padding: 1% 1%;
      flex-direction: column;
      justify-content: space-between;
    }
    
  }

@media only screen and (max-width:576px){

    #hotelDetail{
      display: flex;
      flex-direction: column;
      place-items: center;
      max-width: 350px;
      min-width: 90%;
      min-height: 700px;
      margin-top: 20%;
    }
    
    #imageSlider{
      border-right: hidden;
      border-bottom: 1px solid black;
      width: 100%;
      height: 400px;
    }
    #imageSlider .carousel-item >img {
      max-width: 350px;
      height: 310px;
      margin: auto;
    }
  
    #form{
      display: flex;
      width: 80%;
      padding: 3% 2% 2% 6%;
      flex-direction: column;
      justify-content: space-evenly;
    }
   
  }


